$rootSize: 10px;
$rootFont: 'Rubic', sans-serif;
$fontSize14: 1.4rem;
$fontSize16: 1.6rem;
$fontSize18: 1.8rem;
$fontSize20: 2rem;
$fontSize24: 2.4rem;
$fontSize20: 2rem;
$fontSize28: 2.8rem;
$fontSize38: 3.8rem;
$fontSize40: 4rem;
$fontSize44: 4.4rem;
$fontSize48: 4.8rem;
$fontSize65: 6.5rem;

$accentColor: #ff6838;
$white: #fff;
$mainColor: #31352b;
$gray: #f9faff;
